/***************
CUSTOM PROPERTIES
****************/

:root {

    /* 
    colors
     */
     --spanish-gray: hsl(0, 0%, 60%);
     --sonic-silver: hsl(0, 0%, 47%);
     --eerie-black: hsl(0, 0%, 13%);
     --salmon-pink: hsl(353, 100%, 78%);
     --sandy-brown: hsl(29, 90%, 65%);
     --bittersweet: hsl(0, 100%, 70%);
     --ocean-green: hsl(152, 51%, 52%);
     --davys-gray: hsl(0, 0%, 33%);
     --cultured: hsl(0, 0%, 93%);
     --white: hsl(0, 0%, 100%);
     --onyx: hsl(0, 0%, 27%);


     /* 
     typography
     */
     --fs-1: 1.563rem;
     --fs-2: 1.375rem;
     --fs-3: 1.25rem;
     --fs-4: 1.125rem;
     --fs-5: 1rem;
     --fs-6: 0.938rem;
     --fs-7: 0.875rem;
     --fs-8: 0.813rem;
     --fs-9: 0.75rem;
     --fs-10: 0.688rem;
     --fs-11: 0.625rem;


     --weight-300: 300;
     --weight-400: 400;
     --weight-500: 500;
     --weight-600: 600;
     --weight-700: 700;

     /**
     border radius
     */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
    transitions
    */

    --transition-timing: 0.2s ease;
}

/***************
 RESETS
****************/
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img, ion-icon, button, a { display: block; }

span { display: inline-block; }

html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

input,
select, 
textarea {
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder { font: inherit; }

body { background: var(--white); }

body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
    background-color: var(--white);
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: var(--border-radius-md);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}




