/***************
CUSTOM PROPERTIES
****************/

:root {

    /* 
    colors
     */
     --spanish-gray: hsl(0, 0%, 60%);
     --sonic-silver: hsl(0, 0%, 47%);
     --eerie-black: hsl(0, 0%, 13%);
     --salmon-pink: hsl(353, 100%, 78%);
     --sandy-brown: hsl(29, 90%, 65%);
     --bittersweet: hsl(0, 100%, 70%);
     --ocean-green: hsl(152, 51%, 52%);
     --davys-gray: hsl(0, 0%, 33%);
     --cultured: hsl(0, 0%, 93%);
     --white: hsl(0, 0%, 100%);
     --onyx: hsl(0, 0%, 27%);


     /* 
     typography
     */
     --fs-1: 1.563rem;
     --fs-2: 1.375rem;
     --fs-3: 1.25rem;
     --fs-4: 1.125rem;
     --fs-5: 1rem;
     --fs-6: 0.938rem;
     --fs-7: 0.875rem;
     --fs-8: 0.813rem;
     --fs-9: 0.75rem;
     --fs-10: 0.688rem;
     --fs-11: 0.625rem;


     --weight-300: 300;
     --weight-400: 400;
     --weight-500: 500;
     --weight-600: 600;
     --weight-700: 700;

     /**
     border radius
     */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
    transitions
    */

    --transition-timing: 0.2s ease;
}