/***************
CUSTOM PROPERTIES
****************/

:root {

    /* 
    colors
     */
     --spanish-gray: hsl(0, 0%, 60%);
     --sonic-silver: hsl(0, 0%, 47%);
     --eerie-black: hsl(0, 0%, 13%);
     --salmon-pink: hsl(353, 100%, 78%);
     --sandy-brown: hsl(29, 90%, 65%);
     --bittersweet: hsl(0, 100%, 70%);
     --ocean-green: hsl(152, 51%, 52%);
     --davys-gray: hsl(0, 0%, 33%);
     --cultured: hsl(0, 0%, 93%);
     --white: hsl(0, 0%, 100%);
     --onyx: hsl(0, 0%, 27%);


     /* 
     typography
     */
     --fs-1: 1.563rem;
     --fs-2: 1.375rem;
     --fs-3: 1.25rem;
     --fs-4: 1.125rem;
     --fs-5: 1rem;
     --fs-6: 0.938rem;
     --fs-7: 0.875rem;
     --fs-8: 0.813rem;
     --fs-9: 0.75rem;
     --fs-10: 0.688rem;
     --fs-11: 0.625rem;


     --weight-300: 300;
     --weight-400: 400;
     --weight-500: 500;
     --weight-600: 600;
     --weight-700: 700;

     /**
     border radius
     */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
    transitions
    */

    --transition-timing: 0.2s ease;
}

/***************
 RESETS
****************/
*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img, ion-icon, button, a { display: block; }

span { display: inline-block; }

html {
    font-family: "Poppins", sans-serif;
    overscroll-behavior: contain;
}

input,
select, 
textarea {
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder { font: inherit; }

body { background: var(--white); }

body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
    background-color: var(--white);
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: var(--border-radius-md);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}



/***************
RE-USABLE CLASSES
****************/




/***************
MAIN 
****************/
/**
Overlay
*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/**
Modal
*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    animation: popup 1s ease-in-out 5s forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modal.closed { display: none; }

.modal-close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.newsletter-img { display: none; }

.modal-content {
    position: relative;
    max-width: 350px;
    margin: 20px;
    background: var(--white);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    animation: scaleUp 0.5s ease-in-out 5s forwards;

}

@keyframes scaleUp {
    0% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--salmon-pink);
    color: var(--white);
    font-size: var(--fs-5);
    padding: 5px;
    border-radius: var(--border-radius-sm);
}

.modal-close-btn:hover { opacity: 0.9; }


.modal-close-btn ion-icon { --ionicon-stroke-width: 70px; }

.newsletter {
    padding: 50px 30px;
    text-align: center;
}

.newsletter-header { margin-bottom: 20px; }

.newsletter-title {
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
}

.newsletter-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
}

.email-field {
    font-size: var(--fs-7);
    padding: 8px 16px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--cultured);
    margin-bottom: 16px;
}

.btn-newsletter {
    background: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 10px 15px;
    margin: auto;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}

.btn-newsletter:hover { background-color: var(--salmon-pink); }


/**
Notification toast
*/
.notification-toast {
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    background-color: var(--white);
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.15);
    transform: translateX(calc(-100% - 40px));
    transition: 0.5s ease-in-out;
    z-index: 5;
    animation: slideInOut 10s ease-in-out infinite;
}

@keyframes slideInOut {
    0%,
    45%,
    100% {
        transform: translateX(calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }

    50%,
    95% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.notification-toast.closed { display: none; }

.toast-close-btn {
    position: absolute;
    top: 10px;
    right: 7px;
    color: var(--sonic-silver);
}

.toast-close-btn ion-icon {--ionicon-stroke-width: 50px;}

.toast-banner {
    width: 70px;
    height: 70px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
}

.toast-banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.toast-detail {
    width: calc(1005 -85px);
    padding-right: 10px;
}

.toast-message {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    margin-bottom: 8px;
}

.toast-title {
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    color: var(--onyx);
}

.toast-meta {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
}